span {
    color: green;
}

.importance {
    font-style: inherit;
}

#relation {
   color: blue; 
}

h1 {
    color: rgb(20, 7, 136);
    text-align: center;
    text-decoration: underline;
}

figcaption {
    color: #9a088e;
}

body {
    background-color: lemonchiffon;
    border: hsl(149,88%,48%);
}