span {
    color: green;
    font-family: monospace;
}

.importance {
    font-style: inherit;
}

#relation {
   color: blue;
    letter-spacing: 2px;
}

h1 {
    color: rgb(20, 7, 136);
    text-align: center;
    text-decoration: underline;
}

figcaption {
    color: #9a088e;
    font-family: sans-serif;
    word-spacing: 7px;
}

body {
    background-color: lemonchiffon;
    border: hsl(149,88%,48%);
}
#organisms {
    font-size: 1.4rem;
}
h2 {
    font-size: 1.5rem;
}
a:visited {
    color:blue;
}
a:hover {
    background-color: aliceblue;
    text-transform: uppercase;
}
a:active {
    background-color: aqua;
}